<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name ="discription"
          content ="CoHanaは子供が描いた花の絵をフラワーボックスで実現するサービスです。
                    世界に一つだけのオリジナルのフラワーボックスを日本トップクラスのフラワーアーティストが製作します。" />
    <meta name ="keywords"
          content ="記念日,ギフト,フラワーボックス,花,プレゼント"/>
<!--レスポンシブデザイン用のmetaコード-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>CoHana｜子供が描いた花の絵をフラワーボックスで実現するギフトサービス</title>

  </head>

<body>
<div class="container">
  <header>
  </header>
<div class="about-main">
  <h1>CoHanaとは</h1>
  <p>
    CoHanaは、子どもが描いたお花の絵を
    フラワーボックスとして実現してくれるギフトサービスです。

  </p>
</div>
<div class="about-service">
  <h1>CoHanaに込めた想い</h1>
</div>
<%=link_to("注文する","/order/picture")%>
<br>
<br>
<br>
</div>
</body>
</html>
